/*BODY*/

body {
    width: 100vw;
    height: 100vh;
    background-color:#6359cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    position:relative;
}

/*FORMULAIRE*/

.configuration {
    width: 100%;
    height:200px;
    background-color: #3148ad;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*ARDOISE PIXEL*/

#invader {
    margin:auto;
    display: grid;
}
 
.cell {
    width: 25px;
    height: 25px;
    border: 2px solid #808e9b;
    background-color:rgb(210, 218, 226);
}

.black {
    background-color: black;
  }

  
/*PALETTE COULEUR*/

.color {
    background-color: #4845a3;
    width:200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    position: fixed;
    bottom: 0;
    right: 0;
}

#submitForm {
    color: #FFF;
    height:50px;
    background-color: #9B68E4;
    padding: 4px 16px;
    border-radius: 0px 8px 8px 0px;
    border: none;
    margin-left: 2px;
    cursor: pointer;
}

#gridSize {
    height:50px;
    border-radius: 8px 0px 0px 8px;
    border:none;
    margin-right: 2px;
}

#cellSize {
    height:50px;
    border:none;
}





